
/* nabar css*/

    .nav-link {
        font-size: 2vh;
    }

    @media screen and (max-width: 990px) {
        .navbar-brand {
            margin-left: 10px !important;
        }

        .navbar-toggler {
            margin-left: auto !important;
        }

        /* #cc1 , #cc2{ */
        .navbar-collapse {
            position: absolute;
            z-index: 9999;
            width: 100%;
            padding: 10px;
            background: white;
            height: auto;
            text-align: right;
            padding-right: 5%;
        }

        #cc1 {
            right: 0%;
            top: 72px;
        }

        #cc2 {
            right: 0%;
            top: 170px;
        }
    }

    a {
        color: black !important;
        text-decoration: none !important;
    }

    a:hover {
        color: goldenrod !important;
    }

/* nabar css*/

.bg1 {
 
 
  background: url(https://colorlib.com/preview/theme/barcut/img/banner/b1.jpg);
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.bg4 {
  background: url(https://i.imgur.com/qUFE28U.jpg);
  height: 600px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mynav {
  background: white;
}

.navbar {
  background-color: white !important;
}

.navbar .nav-item a {
  color: black !important;
}

.navbar .nav-item a:hover {
  color: goldenrod !important;
}

.navbar .navbar-nav .nav-item .active {
  color: goldenrod !important;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.inner {
  overflow: hidden;
}
.inner img {
  transition: all 0.75s ease;
  position: relative;
}
.inner:hover img {
  transform: scale(1.2);
}
.title {
  font-size: 25px;
  position: absolute;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  width: 100%;
  height: 80px;
  line-height: 60px;
}
.inner:hover .title {
  background: goldenrod;
}
#package:hover {
  background: black !important;
}

#package:hover .spn {
  color: goldenrod !important;
}

#package:hover .btn {
  background: goldenrod !important;
  color: white !important;
}

#package:hover .spn2 {
  color: rgb(189, 186, 186) !important;
}
.rmn1 .inner {
  overflow: hidden;
}
.rmn1 .inner img {
  transition: all 0.75s ease;
  position: relative;
  overflow: hidden;
}
.rmn1:hover img {
  transform: scale(1.2);
}
.rmn1 :hover .rmn2 {
  color: goldenrod !important;
}
input[type="email"] {
  background: rgb(54, 54, 54);
  border: none;
}

.emlbtn {
  position: relative;
}

.emlbtn .btn {
  position: absolute;
  margin-right: 0px !important;
  margin-left: 90%;
  top: 0px;
  background: goldenrod !important;
  color: white !important;
}

#iconfoot a {
  font-size: 15px;
  color: white;
}

#iconfoot a:hover {
  color: goldenrod;
}

.home_link {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 300px !important;
}
footer {
  height: ;
  width: 100%;
  background: black;
  color: white;
  margin-top: 2%;
}
.title {
  font-size: 25px;
  position: absolute;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  width: 100%;
  height: 80px;
  line-height: 60px;
}
.inner:hover .title {
  background: goldenrod;
}

.link-back a:hover {
  color: goldenrod !important;
}


/* This css is used for section 2 in homrpage*/

        
        .content{
            position: relative;
            background: rgba(255,255,255,.8);
            padding:60px 0;
            min-width: 480px; 
            z-index: 5;
        }
        .content::after{
            content: "";
            position: absolute;
            left: 100%;
            top: 0;
            z-index: 3;
            background: rgba(255,255,255,.8);
            width: 70px;
            height: 100%;        
        }
        .extra-img{
            position: absolute;
            right: 0;
            bottom: -70px;
            z-index: 5;
            border: 1px dashed #b89035;
            padding: 20px;
        }
        @media screen and (max-width:767px){
            .content{   
                min-width: 300px;
            }
        }
        @media screen and (max-width:717px){
            .content::after{
                display: none !important;
            }
        }
        @media screen and (max-width:994px){
            .extra-img{
                display: none;
            }
        }
/* This css is used for overlapping */


/* this css used for carousel in homepage */
 #a{
           background: linear-gradient(#0000005e,#00000085) ,url('https://colorlib.com/preview/theme/barcut/img/testimonial/testi-bg.jpg');
           background-size: 125% 100%;
           background-position: center;
           background-repeat: no-repeat;
           height: 400px;
           opacity: 0.95;
       } 
       #b h2,p{
            color:white;
       }
       #b h3{
           color: gold;
       }
       #b p{
           text-align:center;
       }
       
       #aa img{
           /* margin-top: 40px; */
           width: 100px;
           /* border: 5px solid black; */
           background:white;
           border-radius: 50%;
           padding: 10px;
           
       }
       .carousel-indicators{
           bottom: -140px !important;
       } 
       .carousel-indicators li{
            opacity: 1 !important;
            position: relative;
            background: none;
            width: 100px !important;
            height : 70px !important;
            margin-left: 15%;
       }
       .carousel-indicators li:hover .overlap{
        opacity: 0.5;
        transition: 2s linear;
       }
       
       .carousel-indicators li.active .overlap{
           animation: li_custom_design ;
           animation-duration: 2s;
           /* opacity: 0.5 !important; */
           /* background: orange !important; */
       }
       .carousel-indicators li img{
           position: absolute;
           top :0px;
           left:0px;
           right:0px;
           bottom:0px;
       }
       .carousel-indicators li .overlap{
           position: absolute;
           top :0px;
           left:0px;
           right:0px;
           bottom:0px;
           z-index: 111;
           width: 100px;
           height: 100px;
           border-radius: 50%;
           /* background: orange; */
       }
       @keyframes li_custom_design
       {    
           from{opacity: 1 !important;background: orange !important;};
           to{opacity: 0.5 !important;background: orange !important;};
       }


/* this css used for carousel in homepage */

/* this css is used for arrow effect on a iamge */

 #banner::before {
        content: "";
        position: absolute;
        left: 46.5%;
        top: -1px;
        z-index: 111;
        border-top: 30px solid white;
        border-left: 75px solid transparent;
        border-right: 75px solid transparent;
        width: 30px;
        height: 0px;
      }
      #banner::after {
        content: "";
        position: absolute;
        transform: rotate(180deg);
        bottom: 0%;
        left: 46.5%;
        z-index: 111;
        border-top: 30px solid white;
        border-left: 75px solid transparent;
        border-right: 75px solid transparent;
        width: 30px;
        height: 0px;
      }

/* this css is used for arrow effect on a iamge */